<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student List - EDUCATION MOODLE (Edu-Mo)</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            background-color: #f8f9fa;
        }

        .header-title {
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
        }

        .custom-table {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .custom-table thead {
            background-color: #007bff;
            color: #ffffff;
        }

        .custom-table tbody tr:hover {
            background-color: #f2f2f2;
        }
        .navbar {
            background-color: #007bff;
        }

        .navbar-brand,
        .navbar-nav .nav-link {
            color: #ffffff !important;
        }

        .bg-primary {
            background-color: #007bff !important;
            color: #ffffff;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row bg-primary p-5 text-white">
            <div class="col-12">
                <h1>Edu-Mo</h1>
            </div>
        </div>

        <h1>Student List</h1>
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Session</th>
                    <th>Semester</th>
                    <th>Resident</th>
                    <th>Department Name</th>
                    <th>Hall Name</th>
                    <th>Advisor</th>
                </tr>
            </thead>
            <tbody>
                <% AllStudentInfo.forEach(student => { %>
                    <tr>
                        <td><%= student.STUDENT_ID %></td>
                        <td><%= student.STUDENT_NAME %></td>
                        <td><%= student.SESSION %></td>
                        <td><%= student.SEMESTER %></td>
                        <td><%= student.IS_RESIDENT %></td>
                        <td><%= student.DEPARTMENT_NAME %></td>
                        <td><%= student.HALL_NAME %></td>
                        <td><%= student.TEACHER_NAME %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>
